/*reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of reset style*/

html, body{
	height: 100%
}
*{
	font-family: Arial;
}

header{
	width: 100%;
	height: 130px;
	background-color: #990000;
	z-index: -1;
}

.top-header{
	background-color: #790000;
	height: 40px;
	width: 100%;

}
.top-nav{
	width: 976px;
	margin: 0 auto;
	height: 40px;
}

#logo{
	margin-right: 180px;
	border-left: 0;
	border-right: 1px solid #990000;

}

.item{
	border-left: 1px solid #990000;
	float: left;
	color: #FFF;
	line-height: 40px;
	font-size: 0.8em;
	padding: 0 12px 0 11px;
	font-weight: 700;
}
header a{
	color: white;
	text-decoration: none;

}
a{
	text-decoration: none;
}
.item img{
	vertical-align: middle;
	width: 85px;
}
.search{
	width:146px;
	height:23px;
	background-color: #FFF;
	position: relative;
	top:8px;
	border-left: 1px solid #990000;
	float: left;
	color: #FFF;
	padding-left:5px;

}
.input{
	height: 20px;
	width: 103px;
	border: none;
	float: left;	
}

.input:focus{
	outline: 0;
}

#bg{
	width: 23px;
	height: 23px;
	/*background-image: url("images/search.png");*/
	/*background-repeat: no-repeat;*/
	padding-top: 1px;
	opacity: 0.8;
	float: right;
	/*background-position: right center;*/
}

.bot-header{
	clear: both;
	width: 976px;
	margin: 0 auto;
	height: 64px;
	line-height: 64px;
	color: #FFF;
}
#news{
	font-size: 2.7em;
	font-weight: 400;
	float: left;
	margin-left: 7px;
	letter-spacing: 1px;
}
#uk{
	float: left;
	font-size: 1.8em;
	margin: 4px 0 0 18px;
}
.rssimg img{
	float: right;
	width: 13px;
	position: relative;
/*	right: 48px;*/
	top: 40px;
	border-radius: 2px;
}

.rss{
	line-height: 1;
	float: right;
	font-size: 0.8em;
	font-weight: 700;
	position: relative;
	right: 3px;
	top: 40px;
}
.bb-header{
	clear: both;
	height: 24px;
	width: 976px;
	background-color: #3E0C0D;
	margin: 0 auto;
	position: relative;
	top: -2px;

}
.bbitems{
	float: left;
	font-size: 0.8em;
	height: 24px;

}
.bbitems p{
	border-left: 1px solid #5B2D2F;
	padding: 0 6px 0px 5px;
	vertical-align: middle;
	position: relative;
	top: 5px;
}

.bbitems-h{
	float: left;
	font-size: 0.8em;
	height: 24px;

}
.bbitems-h p{
	padding: 0 6px 0px 5px;
	vertical-align: middle;
	position: relative;
	top: 5px;
}

.bb-header2{
	clear: both;
	height: 24px;
	width: 976px;
	background-color: #EDEDED;
	margin: 0 auto;
	position: relative;
	top: -2px;


}
.bbitems1{
	float: left;
	font-size: 0.8em;
	height: 24px;
}

.bbitems1 p{
	border-left: 1px solid #D0D0D0;
	padding: 0 6px 0px 5px;
	vertical-align: middle;
	position: relative;
	top: 5px;
	color: #505050;
	font-weight: 700;
	font-size: 0.9em;
	padding-left: 7px;
}

.bbitems1-h{
	float: left;
	font-size: 0.8em;
	height: 24px;
}

.bbitems1-h p{
	padding: 0 6px 0px 5px;
	vertical-align: middle;
	position: relative;
	top: 5px;
	color: #505050;
	font-weight: 700;
	font-size: 0.9em;
	padding-left: 7px;
}

.container{

	width: 976px;
	/*border: 1px solid black;*/
	margin: 40px auto 0 auto;

}

.date{
	color: #505576;
	text-align: left;
	font-size: 0.9em;
}

.now{
	width: 624px;
	margin-top: 25px;
	float: left;
}

.first{
	padding-bottom: 15px;
	border-bottom: 1px solid #EDEDED;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

.cont1{
	padding-left: 320px;
	margin-top: 10px;
	font-size: 0.8em;
	position: relative;
	top: -10px;
	color: #141830;
}
#headline{
	font-size: 1.8em;
	font-weight: 700;
	padding-bottom: 10px;

}
#headline a{	
	text-decoration: none;
}
.new{
	color: #990000;
	font-weight: 700;
}

.inside-a{
padding-top: 6px;
}
.first img{
	width: 304px;
	height: 171px;
	padding-right: 5px;
	float: left;
	display: block;
}
.cont1 a{
	margin-top: 3px;
	text-decoration: none;
}

.cont1 a:visited{
	color: #18438E;
}

#headline a:visited{
		color: #18438E;
}
.cont2 a:visited{
	color: #18438E;
}
.second{
	padding-bottom: 15px;
	border-bottom: 1px solid #EDEDED;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

.cont2{
	padding-left: 320px;
	margin-top: 10px;
	font-size: 0.9em;
	position: relative;
	top: -10px;
	color: #141830;
	font-size: 0.8em;

}
.second img{
	width: 304px;
	height: 171px;
	padding-right: 5px;
	float: left;
	display: block;
}
.cont2 a{
	margin-top: 3px;
	text-decoration: none;
}
.head2 {
margin-bottom: 6px;
font-size: 1.3em;
font-weight: 700;
}

.right-col{
	float: right;
	width: 336px;
	margin-left: 3px;
	color: #505050;
}
.wl{
	/*width: 336px;*/
	height: 196px;
	background-color: #EEEEEE; 
}

.w-l{
	height: 24px;
	padding:8px;
	font-size: 1.3em; 
	font-weight: 700;
}
.w-l img{
	float: right;
	position: relative;
	top: 7px;
}

.image{
	height: 124px;
}
.image :first-child{
	width: 24px;
	height: 124px;
	float: left;
}
.image :nth-child(2){
	width: 288px;
	height: 124px;
	float: left;
}
.image :nth-child(3){
	width: 24px;
	height: 124px;
	float: left;
}
.liv{
	height: 32px;
	padding:8px;
	font-size: 0.9em;
	font-weight:700;
}
.liv img{
	width: 27px;
	position: relative;
	top: 2px;
}

.fa{
	/*height: 336px;*/
	margin-top: 20px;
	background-color: #EEEEEE; 

}
#fa-t{
	height: 24px;
	padding: 8px;
	font-size: 1.3em; 
	font-weight: 700;
}
.stories{
	padding: 0 8px;
}
.story{
	height: 74px;
}
.photo{
	float: left;
	width: 112px;
	height: 63px;
	margin-right: 3px;
}
.story-line{
	padding-left: 130px;
	font-size: 0.9em;
}
.fa-head{
	margin-bottom: 3px;
	font-weight: 700;
}

footer{
	margin-top: 50px !important;
	clear: both;
	height: 100px;
	/*background-color: #000;*/
	/*padding-top: 100px;*/
	border-top: 1px solid #000;

}
.no-footer{
	margin-bottom: 30px;
	overflow: hidden;
}